
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Залежності та системні файли
package-lock.json
.DS_Store
Thumbs.db

# Логи та звіти
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Середовище та секрети (паролі, токени)
.env
.env.local
.env.*.local

# Тимчасові файли редакторів
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp